body{
font-family:Arial;
background:#eef4ef;
margin:0;
padding:40px;
display:flex;
justify-content:center;
}

.app{
width:350px;
text-align:center;
}

.logo{
width:90px;
margin-bottom:10px;
}

h1{
color:#1a7f37;
margin:5px;
}

.sub{
color:#666;
font-size:14px;
margin-bottom:20px;
}

form{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

input,select,button{
width:100%;
margin-top:10px;
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#1a7f37;
color:white;
border:none;
font-weight:bold;
cursor:pointer;
}

#painel{
margin-top:25px;
}

.risco{
padding:12px;
border-radius:8px;
margin-top:10px;
font-weight:bold;
color:white;
}

.ponte{
background:#d32f2f;
}

.alagamento{
background:#1976d2;
}

.atoleiro{
background:#ef6c00;
}

.perigo{
background:#fbc02d;
color:black;
}

.manutencao{
background:#388e3c;
}